.idk{
    padding-top:10vw;
    padding-left:35vw;
    font-family: 'Kanit', sans-serif;
    font-size:5vw;
    color:white;
}
.PopUp{
    margin-top:5vw;
    margin-left:35vw;
    font-family: 'Kanit', sans-serif;
    font-size:1.7vw;
    color:lime;

}
.idk2{
    padding-top:10vw;
    padding-left:42vw;
    font-family: 'Kanit', sans-serif;
    font-size:5vw;
    color:white;
}
.Fields{
    width: 50vw;
    margin-top:2vw;
    display:inline-block;
    margin-left:20vw;
}
.Field{
    margin-top:1vw;
    display:flex;
    width: 50vw;
}
.Field-Buton{
    margin-top:1vw;
}
.Send{
    margin-left:25vw;
    background: -webkit-repeating-radial-gradient(white,white);
    -webkit-background-clip: text;
    font-family: 'Kanit', sans-serif;
    -webkit-text-fill-color: transparent;
    border:outset 3px purple;
    text-align: center;
    font-size:1.7vw;

}
.Field input{
    font-family: 'Kanit', sans-serif;
    font-size:1.4vw;
    padding:.5vw;
    margin-left:.5vw;
}
.Field input[type=text]{
    padding-left:4.5vw;
    width: 90%;
    margin-left:3.5vw;
    border-radius: 2vw;
    outline:none;
    border:0.2vw solid black;

}
.Field input[type=text5]{
    padding-left:4.5vw;
    width: 90%;
    margin-left:4.9vw;
    border-radius: 2vw;
    outline:none;
    border:0.2vw solid black;

}
.Field input[type=text3]{
    padding-left:4.5vw;
    width: 90%;
    margin-left:1.4vw;
    border-radius: 2vw;
    outline:none;
    border:0.2vw solid black;

}
.Field input[type=password]{
    padding-left:4.5vw;
    width: 90%;
    margin-left:1.4vw;
    border-radius: 2vw;
    outline:none;
    border:0.2vw solid black;
    -webkit-text-security: disc;
    text-security: disc;
}
.Field input[type=text2]{
     padding-left:4.5vw;
     width: 90%;
     margin-left:3.5vw;
     border-radius: 2vw;
     outline:none;
     border:0.2vw solid black;

 }

.Field input[type=text4]{
    padding-left:4.5vw;
    width: 90%;
    margin-left:4vw;
    border-radius: 2vw;
    outline:none;
    border:0.2vw solid black;

}
.showhide{
    margin-top:1vw;
    margin-left:1vw;
    width: 2vw;
    height: 2vw;
}

.Field i{
    padding-top:.2vw;
    position: absolute;
    margin-left:29vw;
    margin-top:.5vw;
    font-size:2vw;
    border:none;
    border-radius: 2vw;
}
.Info{
    margin-top: .5vw;
    font-family: 'Kanit', sans-serif;
    font-size:1.4vw;
    color:white;

}